/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
/*header start*/
header {
  padding: 10px 0;
}
.menu ul li a {
  padding: 10px 0 0 !important;
  font-size: 20px;
  text-align: right;
}
/*header end*/
/*slider start*/
.slider {
  padding-bottom: 60px;
}
.caro_indi {
  bottom: -60px;
}
.caro_indi [data-bs-target] {
  width: 12px;
  height: 12px;
}
.s_text {
  margin-top: 0;
}
.s_text h1 {
  font-size: 25px;
}
.s_text h2 {
  margin: 10px 0;
  font-size: 18px;
}
.s_text p {
  margin-bottom: 20px;
}
.s_icon ul li {
  margin-right: 15px !important;
}
.s_icon ul li i {
  font-size: 35px;
}
/*slider end*/
/*feature start*/
.feature {
  padding: 50px 0 70px;
}
.c_h1 {
  margin-bottom: 10px;
  font-size: 25px;
}
.c_p {
  font-size: 17px;
  line-height: 25px;
}
.f_item {
  margin-top: 30px;
}
.f_icon i {
  margin-top: 0px;
  font-size: 35px;
}
.f_text {
  text-align: center;
}
.f_text h2 {
  margin-bottom: 0;
  font-size: 20px;
}
.f_text p {
  letter-spacing: 0;
}
/*feature end*/

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
/*header start*/
.menu ul li a {
  padding: 10px 0 0 !important;
  font-size: 20px;
  text-align: right;
}
/*header end*/
/*slider start*/
.slider {
  padding-bottom: 60px;
}
.caro_indi {
  bottom: -55px;
}
.caro_indi [data-bs-target] {
  width: 13px;
  height: 13px;
}
.s_text {
  margin-top: 0;
}
.s_text h1 {
  font-size: 25px;
}
.s_text h2 {
  margin: 10px 0;
  font-size: 18px;
}
.s_text p {
  margin-bottom: 20px;
}
.s_icon ul li {
  margin-right: 20px !important;
}
.s_icon ul li i {
  font-size: 35px;
}
/*slider end*/
/*feature start*/
.feature {
  padding: 50px 0 70px;
}
.c_h1 {
  margin-bottom: 10px;
  font-size: 25px;
}
.c_p {
  font-size: 17px;
  line-height: 25px;
}
.f_item {
  margin-top: 30px;
}
.f_icon i {
  margin-top: 0px;
  font-size: 35px;
}
.f_text {
  text-align: center;
}
.f_text h2 {
  margin-bottom: 0;
  font-size: 20px;
}
.f_text p {
  letter-spacing: 0;
}
/*feature end*/

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
/*header start*/
.menu ul li a {
  padding: 10px 0 0 !important;
  text-align: right;
}
/*header end*/
/*feature start*/
.feature {
  padding: 80px 0 100px;
}
.c_title {}
.c_h1 {
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: 700;
  color: #010101;
}
.c_p {
  font-size: 20px;
  color: #313841;
  line-height: 28px;
}
.f_item {
  margin-top: 50px;
}
/*feature end*/

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/*Extra large devices (extra large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {

}

/*Extra large devices (extra extra large desktops, 1400px and up)*/
@media (min-width: 1400px) {

}


